.navbar {
   background-color: $dark-color;
   .navbar-nav {
      .nav-link {
         color: #fff;
         &.active,
         &:focus,
         &:hover {
            color: $green-color;
         }
      }
   }
   .search {
      border-left: 1px solid $green-color;
      svg {
         color: $green-color;
      }
   }
   .navbar-toggler {
      color: #fff;
      font-size: 25px;
      border-color: #fff;
      &:focus {
         box-shadow: none;
      }
      &[aria-expanded="true"] {
         box-shadow: 0 0 0 0.25rem $green-color;
         border-color: $green-color;
      }
   }
}
